<% content_for :title, "Edit account" %>
<h1>Update your account</h1>

  <div class="edit_info_container">
    <%= form_for(@employee) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm password" %>
      <%= f.password_field :password_confirmation, :id=>'confirm' %>

      <%= f.label :employee_time_zone, "Time zone" %>
      <%= f.text_field :employee_time_zone, :id=>'timezone' %>
    </br>
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
