<title>Add New Worker</title>
<h1>Add New Worker</h1>

<div class="log_in_container">
    <%= form_for(@employee) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.time_zone_select :employee_time_zone, ActiveSupport::TimeZone.us_zones, {:prompt => "Select Your Time Zone *"}, {:id => "timezone"} %>
    </br>
      <%= f.submit "Create account", class: "btn btn-large btn-primary" %>
    <% end %>
</div>
