<% content_for :title, @employee.name %>

<h1><%= @employee.name %></h1>
<div class="user_info_container">
	<% if @employee.clocked_in? && current_employee?(@employee) %>
		<%= form_for current_employee.timesheets.first do |f| %>
			<%= f.submit "Clock Out", :class => "btn btn-primary" %>
		<% end %>
	<% elsif current_employee?(@employee) %>
		<%= form_for(Timesheet.new) do |f| %>
  			<%= f.submit "Clock In", :class => "btn btn-primary" %>
		<% end %>
	<% end %>
</div>

</br>

<div class="row-fluid">

	<% unless (current_employee !=nil && (current_employee?(@employee) || current_employee.manager?)) %>
		<div class="text-center"><span class="alert alert-block">You are not authorised to view this information.</span></div>
	<% end %>

	<% if @employee.timesheets.any? && (current_employee?(@employee) || current_employee.manager?) %>	
	  	<table class="table table-striped">
	  		<caption><h3>Timesheets (<%= @employee.timesheets.count %>)</h3></caption>
	  		<tr class="row">
	  			<td><strong>In</strong></td><td><strong>Out</strong></td><% if current_employee.manager? %> <td></td> <% end %>
	    		<%= render @timesheets %>
	    	</tr>
		</table>
		<%= will_paginate @timesheets %>
	<% end %>
</div>