<% content_for :title, @employee.name %>

<h1><%= @employee.name %></h1>
<div class="user_info_container">
	<% if @employee.clocked_in? && current_employee?(@employee) %>
		<%= button_to "Clock Out",:id => "clock_out_tester", :controller => "timesheets", :method => :put, :action => "update" %>
	<% elsif current_employee?(@employee) %>
		<%= button_to "Clock In",:id => "clock_in_tester", :controller => "timesheets", :action => "create" %>
	<% end %>
</div>


<div class="row-fluid">
		<% if @employee.timesheets.any? && (current_employee?(@employee) || current_employee.manager?) %>
		  <ol>
		  	<table class="table table-striped">
		  		<caption><h3>Timesheets (<%= @employee.timesheets.count %>)</h3></caption>
		  		<tr class="row">
		  			<td><strong>In</strong></td><td><strong>Out</strong></td>
		    		<%= render @timesheets %>
		    	</tr>
			</table>
		  </ol>
		  <%= will_paginate @timesheets %>
		<% else %>
			</br>
			<span class="alert alert-block">You are not authorised to view this information.</span>
		<% end %>

</div>