<tr class="row">
	<td class="span4">
		<p><%= timesheet.punch_in.in_time_zone(current_employee.employee_time_zone).strftime("%-I:%M%P, %b %d %Y") %></p>		
	</td>

	<td class="span4">
		<% if timesheet.punch_out !=nil %>
			<p><%= timesheet.punch_out.in_time_zone(current_employee.employee_time_zone).strftime("%-I:%M%P, %b %d %Y") %></p>
		<% else %>
			<p>Currently clocked in.</p>
		<% end %>
	</td>

	<td class="span2">
		<p><%= timesheet.hours_worked %></p>
	</td>

	<%if current_employee.manager? %>
		<td class="span2"><%= button_to "edit", edit_timesheet_path(timesheet.id), :class => "btn btn-warning" %></td>
	<% end %>
</tr>

<% if timesheet.changelogs.present? %>
	<tr class="row">
		<%= render :partial => 'changelogs/changelog', :locals => { :timesheet => timesheet } %>
	</tr>
<% end %>