<!DOCTYPE html>
<html>
<head>
  <title>GEtime</title>
  <%= stylesheet_link_tag "bootstrap-responsive" %>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "application" %>
  <script src="http://code.jquery.com/jquery.js"></script>
  <%= csrf_meta_tags %>
  <%= render 'layouts/header' %>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>
<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<%= yield %>

</body>

</html>
