<!DOCTYPE html>
<html>
<head>
  <title>GEtime</title>
  <script src="http://code.jquery.com/jquery.js"></script>
  <% if Rails.env.development? %>
    <%= stylesheet_link_tag "bootstrap-responsive" %>
    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "style" %>
  <% else %>
    <%= stylesheet_link_tag "application" %>
  <% end %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/header' %>
</head>
<body>
<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<%= yield %>

</body>

</html>
